<!-- header -->
<div class="container-fluid topHeader">   
    <div class="row-fluid">     
        <div class="container">       
            <div class="span12">         
                <a href="/" class="logo">
                    <%= image_tag('sitelogo.png', :class => "logo") %>                </a>       
            </div>     
        </div>   
    </div> 
</div> 
